@use 'variables';

body {
  background: linear-gradient(319deg, #dcf26e 0%, #61fa74 37%, #1cfdd6 100%);
  background-size: cover;
  background-attachment: fixed;
  font-family: variables.$primary-font;
  font-size: variables.$small-font-size;
}

main {
  margin: 20px;
}

// -----------------------------------------------------------------------------
// -------------------------------- FIRST PAGE ---------------------------------
// -----------------------------------------------------------------------------
header {
  cursor: pointer;
  background-color: variables.$header-box-color;

  h1:hover {
    background-color: variables.$hover-color;
  }
}

h1 {
  font-family: variables.$secondary-font;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: rgba(38, 111, 48, 0.82) 5px 2px 5px;
}

.play-game-btn-container {
  color: #000000;
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .play-game-btn {
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 35vw;
    background-color: transparent;
    border: black solid;
    text-align: center;

    .play-game-btn-icon {
      height: 80px;
      width: 80px;
    }

    .play-game-btn:hover {
      background-color: variables.$hover-color;
    }
  }
}

// -----------------------------------------------------------------------------
// --------------------------------- QUESTIONS ---------------------------------
// -----------------------------------------------------------------------------
.question-timer-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  h2 {
    display: flex;
    align-items: center;
  }
}

.timer-display {
  background-color: variables.$secondary-color;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-container {
  height: auto;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.question-box {
  padding: 20px;
  background-color: variables.$box-color;
}

.question {
  color: variables.$secondary-color;
  text-align: center;
  padding: 30px 20px 0px;
}

.answer-box {
  padding: 30px;
  ul {
    list-style-type: none;
    padding: 0;
    input {
      opacity: 0.01;
      z-index: 100;
    }
    label {
      display: block;
    }
    li:hover {
      border: 2px solid variables.$primary-color;
    }
  }
}

.answers {
  background-color: variables.$secondary-color;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}

// -----------------------------------------------------------------------------
// --------------------------------- END GAME ----------------------------------
// -----------------------------------------------------------------------------
.result-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 90px;
}

.result-box {
  width: 100%;
  min-height: 500px;
  background-color: variables.$box-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.score-of-ten {
  font-size: 9rem;
}

.restart-btn {
  cursor: pointer;
  color: #000000;
  text-transform: uppercase;
  border: none;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

// -----------------------------------------------------------------------------
// ------------------------------- HELP CLASSES --------------------------------
// -----------------------------------------------------------------------------
.hidden {
  display: none;
}

.correct-color {
  background-color: variables.$right-answer-color;
}

.incorrect-color {
  background-color: variables.$wrong-answer-color;
}
