@use 'variables';

@media screen and (min-width: 768px){

    // -----------------------------------------------------------------------------
    // -------------------------------- FIRST PAGE ---------------------------------
    // -----------------------------------------------------------------------------
    
    h1{
        font-size: 4rem;
    }

    .play-game-btn-container{
    
        .play-game-btn{
            font-size: variables.$medium-font-size;
            
            .play-game-btn-icon{
                height: 200px;
                width: 200px;
            }
        }
    }

    // -----------------------------------------------------------------------------
    // --------------------------------- QUESTIONS ---------------------------------
    // -----------------------------------------------------------------------------

    .timer-display{
        height: 80px;
        width: 80px;
    }

}

