//-------------------------------------------------------------------//
//------------------------------- COLOR -----------------------------//
//-------------------------------------------------------------------//
$primary-color: black;
$secondary-color: white; 

$box-color: #00000080; 
$header-box-color: #0000001e;
$hover-color: rgba(0, 128, 0, 0.19);

$wrong-answer-color: red; 
$right-answer-color: green;

//-------------------------------------------------------------------//
//------------------------------- FONT ------------------------------//
//-------------------------------------------------------------------//
$small-font-size: 1rem;
$medium-font-size: 2rem;
$large-font-size: 3rem;

$primary-font: "Coming Soon", serif;
$secondary-font: "Moo Lah Lah", serif;