//-------------------------------------------------------------------//
//------------------------------- COLOR -----------------------------//
//-------------------------------------------------------------------//
$primary-color: #000000;
$secondary-color: #ffffff; 
$box-color: #00000080; 
$header-box-color: #0000001e;
$wrong-answer-color: #ff0000; 
$right-answer-color: #008000;
$hover-color: #00800030;


//-------------------------------------------------------------------//
//------------------------------- FONT ------------------------------//
//-------------------------------------------------------------------//
$small-font-size: 1rem;
$medium-font-size: 2rem;
$large-font-size: 3rem;

$primary-font: "Coming Soon", serif;
$secondary-font: "Moo Lah Lah", serif;
