//-------------------------------------------------------------------//
//------------------------------- COLOR -----------------------------//
//-------------------------------------------------------------------//
$primary-color: black;
$secondary-color: white; 
$box-color: #00000080; 


//-------------------------------------------------------------------//
//------------------------------- FONT ------------------------------//
//-------------------------------------------------------------------//
$small-font-size: 1rem;
$medium-font-size: 2rem;
$large-font-size: 3rem;

$primary-font: ;
$secondary-font: ;
